<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Menu Item</h1>
</body>

<form action="{{url_for('editMenuItem', menu_id=item.id, restaurant_id=item.restaurant_id ) }}" method="POST">

    <dl>
        <dt>Menu Item Name:</dt>
        <input type="text" size="30" name="name" placeholder="{{item.name}}">
    </dl>
    <dl>
        <dt>Description:</dt>
        <textarea rows="4" cols="50" name="description" placeholder="{{item.description}}"></textarea>
    </dl>
    <dl>
        <dt>Price:</dt>
        <input type="text" size="30" name="price" placeholder="{{item.price}}">
    </dl>
    <dl>
        <dt>Course:</dt>
        {% if item.course == "Appetiser"%}<input type="radio" name="course" value="Appetiser" checked> Appetiser<br>
        {% else %}<input type="radio" name="course" value="appetiser"> Appetiser<br> {% endif %}

        {% if item.course == "Entree"%}<input type="radio" name="course" value="Entree" checked> Entree<br>
        {% else %}<input type="radio" name="course" value="entree"> Entree<br> {% endif %}

        {% if item.course == "Dessert"%}<input type="radio" name="course" value="Dessert" checked> Dessert<br>
        {% else %}<input type="radio" name="course" value="dessert"> Dessert<br>{% endif %}

        {% if item.course == "Beverage"%}<input type="radio" name="course" value="Beverage" checked> Beverage<br>
        {% else %}<input type="radio" name="course" value="beverage"> Beverage<br> {% endif %}

    </dl>

    <input type="submit" value="Update">
</form>


</html>