<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Menu Items</h1>

{% for menu_item in menu_items %}

    <p>{{menu_item.name}}</p>
    <p>{{menu_item.description}}</p>
    <p>{{menu_item.price}}</p>
    <p>{{menu_item.course}}</p>
    <p>{{menu_item.id}}</p>
    <p>{{menu_item.restaurant_id}}</p>
    <a href="{{url_for('editMenuItem', menu_id=menu_item.id, restaurant_id=menu_item.restaurant_id ) }}">Edit Menu Item</a></br>

{% endfor %}
</body>
</html>