<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New Menu Item</h1>
</body>
<form action="#" method="POST">

    <dl>
        <dt>Menu Item Name:</dt>
        <dd><input type="text" size="30" name="menuItemName"></dd>
    </dl>
    <dl>
        <dt>Description:</dt>
        <dd><input type="text" size="30" name="description"></dd>
    </dl>
    <dl>
        <dt>Price:</dt>
        <dd><input type="text" size="30" name="price "></dd>
    </dl>
    <dl>
        <dt>Course:</dt>
        <input type="radio" name="appetiser" value="male"> Appetiser<br>
        <input type="radio" name="entree" value="female"> Entree<br>
        <input type="radio" name="dessert" value="other"> Dessert<br>
        <input type="radio" name="beverage" value="other"> Beverage<br>
    </dl>

    <input type="button" value="Create">
</form>
</html>